Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
data = {
    'name': ['Alice','Bob', 'Clairie'],
    'age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Clairie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

**DataFrame in Pandas:**
A DataFrame is a 2-dimensional data structure in Pandas, resembling a table or spreadsheet. It consists of rows and columns, where each column can have a different data type. DataFrames provide a convenient way to organize and manipulate structured data.

**Series in Pandas:**
A Series is a 1-dimensional labeled array in Pandas, similar to a Python list. It can hold data of a single data type and has associated labeled indexing, allowing for easy access and manipulation of data.

The main differnce between above two are

**Dimensionality:** DataFrame is a 2-dimensional data structure with rows and columns, while Series is a 1-dimensional data structure with labeled indices.

**Data structure:** DataFrame is a collection of Series, where each column of the DataFrame represents a Series. Series, on the other hand, is a single column of data.

In [7]:
# example of a pandas dataframe

data = {
    'name': ['Alice','Bob', 'Clairie'],
    'age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Clairie   27  Female

In [8]:

# Example of a pandas  Series
data = [10, 20, 30, 40, 50]
index = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index)

# Print the Series
print(series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

**head() and tail():** View the first few or last few rows of the DataFrame.

**info():** Display information about the DataFrame, including column names, data types, and non-null counts.

**describe():** Generate descriptive statistics for numeric columns in the DataFrame.

**groupby():** Group the DataFrame based on one or more columns and perform aggregate operations on each group.

**apply():** Apply a custom function to each element, row, or column of the DataFrame.

**drop():** Remove specified rows or columns from the DataFrame.

**sort_values():** Sort the DataFrame based on one or more columns.

**merge():** Combine two DataFrames based on a common column or index.

**pivot_table():** Create a spreadsheet-style pivot table from the DataFrame.

**fillna():** Replace missing values (NaN) with a specified value or a calculated value.

In [9]:
# Example of a pivot table

data = {
    'Name': ['Aditi', 'Bhavesh', 'Chetna', 'Deepak', 'Esha', 'Aditi', 'Deepak'],
    'Age': [25, 30, 28, 22, 35, 27, 22],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [90, 85, 78, 92, 88, 95, 82]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Create the pivot table
pivot_table = df.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')

# Print the pivot table
print(pivot_table)

Subject  Math  Science
Name
Aditi    90.0     95.0
Bhavesh   NaN     85.0
Chetna   78.0      NaN
Deepak   82.0     92.0
Esha     88.0      NaN

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

**Among the options provided (Series, DataFrame, and Panel), the mutable nature applies to the DataFrame and Panel.**

In Pandas:

**Series:** A Pandas Series is a one-dimensional labeled array and is immutable, meaning once it is created, you cannot change its elements or size. You can, however, create a new Series based on an existing one with modifications.

**DataFrame:** A Pandas DataFrame is a two-dimensional labeled data structure and is mutable, meaning you can modify its elements, add or remove rows and columns, change data values, etc. DataFrames are designed to be flexible and allow various data manipulation operations.

**Panel:** A Pandas Panel is a three-dimensional data structure, which can be considered as a container for multiple DataFrames. However, Pandas deprecated Panels in version 0.25.0 and recommended using multi-index DataFrames or other data structures for handling 3D data. Nonetheless, the Panel, when used, was mutable as well.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
#Pass a dictionary of Series to the pd.DataFrame function.
#Each Series will become a column in the DataFrame, and they must have the same length.

names = pd.Series(['Aditi', 'Bhavesh', 'Chetna', 'Deepak', 'Eva'])
ages = pd.Series([25, 30, 28, 22, 35])
genders = pd.Series(['Female', 'Male', 'Female', 'Male', 'Female'])

# Creating the DataFrame using the dictionary of Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age  Gender
0    Aditi   25  Female
1  Bhavesh   30    Male
2   Chetna   28  Female
3   Deepak   22    Male
4      Eva   35  Female